/* Share On Extension */

.facebook-icon		{ background: transparent url("./images/shareon_facebook.png") top left no-repeat; }
.twitter-icon		{ background: transparent url("./images/shareon_twitter.png") top left no-repeat; }
.tuenti-icon		{ background: transparent url("./images/shareon_tuenti.png") top left no-repeat; }
.sonico-icon		{ background: transparent url("./images/shareon_sonico.png") top left no-repeat; }
.friendfeed-icon	{ background: transparent url("./images/shareon_friendfeed.png") top left no-repeat; }
.orkut-icon			{ background: transparent url("./images/shareon_orkut.gif") top left no-repeat; }
.digg-icon, .digg-icon 	{	 background: transparent url("./images/shareon_digg.gif") top left no-repeat; }
.reddit-icon, .reddit-icon	{ background: transparent url("./images/shareon_reddit.png") top left no-repeat; }
.delicious-icon, .delicious-icon	{ background: transparent url("./images/shareon_delicious.gif") top left no-repeat; }
.technorati-icon, .technorati-icon	{ background: transparent url("./images/shareon_technorati.png") top left no-repeat; }
.tumblr-icon, .tumblr-icon			{ background: transparent url("./images/shareon_tumblr.png") top left no-repeat; }
.google-icon, .google-icon			{ background: transparent url("./images/shareon_google.gif") top left no-repeat; }