/* Share On Extension */

ul.profile-icons li.facebook-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.twitter-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.tuenti-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.sonico-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.friendfeed-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.orkut-icon			{ width: 20px; height: 20px; }
ul.profile-icons li.digg-icon			{ width: 20px; height: 20px; }
ul.profile-icons li.reddit-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.delicious-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.technorati-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.tumblr-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.google-icon		{ width: 20px; height: 20px; }

.facebook-icon, .facebook-icon a		{ background: transparent url("./images/shareon_facebook.png") top left no-repeat; }
.twitter-icon, .twitter-icon a		{ background: transparent url("./images/shareon_twitter.png") top left no-repeat; }
.tuenti-icon, .tuenti-icon a			{ background: transparent url("./images/shareon_tuenti.png") top left no-repeat; }
.sonico-icon, .sonico-icon a			{ background: transparent url("./images/shareon_sonico.png") top left no-repeat; }
.friendfeed-icon, .friendfeed-icon a	{ background: transparent url("./images/shareon_friendfeed.png") top left no-repeat; }
.orkut-icon, .orkut-icon a			{ background: transparent url("./images/shareon_orkut.gif") top left no-repeat; }
.digg-icon, .digg-icon a				{ background: transparent url("./images/shareon_digg.gif") top left no-repeat; }
.reddit-icon, .reddit-icon a			{ background: transparent url("./images/shareon_reddit.png") top left no-repeat; }
.delicious-icon, .delicious-icon a	{ background: transparent url("./images/shareon_delicious.gif") top left no-repeat; }
.technorati-icon, .technorati-icon a	{ background: transparent url("./images/shareon_technorati.png") top left no-repeat; }
.tumblr-icon, .tumblr-icon a			{ background: transparent url("./images/shareon_tumblr.png") top left no-repeat; }
.google-icon, .google-icon a			{ background: transparent url("./images/shareon_google.gif") top left no-repeat; }