<!-- IF S_SO_STATUS -->
	<!-- IF S_SO_FACEBOOK --><li class="facebook-icon"><a href="{postrow.U_FACEBOOK}" title="{L_SHARE_ON_FACEBOOK}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_FACEBOOK}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_TWITTER --><li class="twitter-icon"><a href="{postrow.U_TWITTER}" title="{L_SHARE_ON_TWITTER}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_TWITTER}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_TUENTI --><li class="tuenti-icon"><a href="{postrow.U_TUENTI}" title="{L_SHARE_ON_TUENTI}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_TUENTI}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_SONICO --><li class="sonico-icon"><a href="{postrow.U_SONICO}" title="{L_SHARE_ON_SONICO}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_SONICO}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_FRIENDFEED --><li class="friendfeed-icon"><a href="{postrow.U_FRIENDFEED}" title="{L_SHARE_ON_FRIENDFEED}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_FRIENDFEED}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_ORKUT --><li class="orkut-icon"><a href="javascript:(function(){var d=document,l=d.location,e=encodeURIComponent,u='http://promote.orkut.com/preview?src=bkmrklt&amp;v=1&amp;nt=orkut.com&amp;du='+e(l.href)+'&amp;tt='+e(d.title),s='&amp;rdrinl=1';if(!window.open(u,'','height=575,width=700,directories=0,location=1,menubar=0,resizable=0,scrollbars=1,status=1,toolbar=0'))l.href=u+s;})();" title="{L_SHARE_ON_ORKUT}"><span>{L_SHARE_ON_ORKUT}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_DIGG --><li class="digg-icon"><a href="{postrow.U_DIGG}" title="{L_SHARE_ON_DIGG}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_DIGG}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_REDDIT --><li class="reddit-icon"><a href="{postrow.U_REDDIT}" title="{L_SHARE_ON_REDDIT}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_REDDIT}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_DELICIOUS --><li class="delicious-icon"><a href="{postrow.U_DELICIOUS}" title="{L_SHARE_ON_DELICIOUS}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_DELICIOUS}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_TECHNORATI --><li class="technorati-icon"><a href="{postrow.U_TECHNORATI}" title="{L_SHARE_ON_TECHNORATI}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_TECHNORATI}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_TUMBLR --><li class="tumblr-icon"><a href="{postrow.U_TUMBLR}" title="{L_SHARE_ON_TUMBLR}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_TUMBLR}</span></a></li><!-- ENDIF -->

	<!-- IF S_SO_GOOGLE --><li class="google-icon"><a href="{postrow.U_GOOGLE}" title="{L_SHARE_ON_GOOGLE}" onclick="window.open(this.href);return false;"><span>{L_SHARE_ON_GOOGLE}</span></a></li><!-- ENDIF -->
<!-- ENDIF -->